@use '../../base/var' as global;

.std-module {
    color: global.$dark-background;

    &.container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    & .header {
        display: flex;
        position: sticky;
        top: 0;
        margin-bottom: 1rem;
        background-color: global.$white-background;
        z-index: 1;

        & .module-icon {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 2rem;
            height: 2rem;
            border-radius: .3rem;
            background-color: global.$action-blue;
            color: global.$white-background;
            font-size: .5rem;
            filter: drop-shadow(0px 7px 3px rgba(0, 0, 0, 0.01)) drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.05)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.09)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
        
            & fa-icon {
                align-self: center;
            }
        }

        & .header-text {
            margin-left: .8rem;
            justify-content: space-around;
            font-size: .65rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
    
            & .sub-header {
                color: global.$light-grey;
                font-size: 0.43rem;
                font-weight: 300;
            }
        }
    }

    & .field_container_n_header {
        height: calc(100% - 5rem);
        overflow-x: scroll;
        padding-right: 1.5rem;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 100%;
            background-color: global.$white-background;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background-color: global.$deep-grey;
        
            &:hover {
                background-color: global.$matted-blue
            }
        }
    }

    & .field-table_container {
        display: flex;
        gap: 3rem;
        height: 100%;

        & .field_container {
            padding-right: 1.5rem;
            margin-top: .4rem;
            flex-grow: 1;
            flex-basis: 35%;
            width: 100%;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 100%;
                background-color: global.$white-background;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 1rem;
                background-color: global.$deep-grey;
            
                &:hover {
                    background-color: global.$matted-blue
                }
            }
        }

        & .table_container {
            flex-basis: 65%;
            flex-grow: 1;
            width: 100px;
            height: 100px;
        }
    }
}

.actionset {
    margin-top: 1.8rem;
    display: flex;
}