@use './var' as variables;
@use './typography';
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    background-color: variables.$grey-background;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 26px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
  }