@use './var' as global;

h2 {
    color: global.$dark-background;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    margin: 0;
}

h3 {
    columns: global.$dark-background;
    font-weight: 300;
    font-style: normal;
    font-size: .6rem;
    margin: 0;
}

.std-text {
    font-size: .4rem;
    color: global.$dark-background;
    font-weight: 400;

    &__link {
        color: global.$action-blue;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &:focus {
            text-decoration: underline;
        }
    }

    &.center {
        text-align: center;
    }
}