<div class="card-header">
    <h2>Login</h2>
    <h3 class="m-top_small">By typing your username and password</h3>
</div>
<div class="form__login m-top_x-large">
    <system-input [icon]="faCircleExclamation" [placeholder]="'Enter your username'" [label]="'Username'"></system-input>
    <system-input [type]="'password'" [eyeIcon]="true" [addclass]="'m-top_medium'" [icon]="faCircleExclamation" [placeholder]="'Your password'" [label]="'Password'"></system-input>
    <div class="m-top_x-medium">
        <system-input-checkbox [icon]="faCheck"></system-input-checkbox>
    </div>
    <div class="m-top_x-medium">
        <system-button (click)="handleClick($event)" [loading]="isLoading" [text]="'Login'"></system-button>
    </div>
    <div class="std-text m-top_x-medium center">Forgot your password?<span tabindex="0"  class="std-text__link m-left_xxx-small">Remind me</span></div>
    <div class="std-text m-top_small center">Not yet have an account?<span tabindex="0" class="std-text__link m-left_xxx-small" [routerLink]="['/auth/register']">Sign up</span></div>
</div>
<div class="card__auxillary-login">
    <div class="login-element">
        <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
    </div>
    <div class="login-element">
        <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
    </div>
    <div class="login-element">
        <fa-icon class="icon" [icon]="faGoogle"></fa-icon>
    </div>
</div>