<div class="card-header">
    <h2>Sign Up</h2>
    <h3 class="m-top_small">Fill out the form below to sign up</h3>
    <div class="m-top_large">
        <ol class="std-stepper">
            <li class="checked">
                <fa-icon class="icon" [icon]="faCheck"></fa-icon>
                Login and email
            </li>
            <li [ngClass]="currentStep == 2 ? 'active' : ''">
                Password
            </li>
        </ol>
        <!-- <h4 class="m-top_regular">
            {{ currentStep == 1 ? 'Fill out information about you username and email address' : 'Type in your password and check your emails for a confirmation' }}
        </h4> -->
    </div>
</div>
<div class="form__login m-top_x-medium">
    <div *ngIf="currentStep === 1" class="std-input__w-label">
        <input type="text" id="email" class="std-input" autocomplete="off" placeholder="Enter your username"  [(ngModel)]="login" (ngModelChange)="loginChange($event)">
        <label for="email" class="std-input__label">Username</label>
        <div class="std-input__help"></div>
    </div>
    <div *ngIf="currentStep === 1" class="std-input__w-label m-top_medium">
        <input type="text" id="email" class="std-input" autocomplete="off" placeholder="Enter your email"  [(ngModel)]="email" (ngModelChange)="emailChange($event)">
        <label for="email" class="std-input__label">Email</label>
        <div class="std-input__help"></div>
    </div>
    <div *ngIf="currentStep == 2" class="std-input__w-label m-top_x-medium">
        <input type="password" id="password" class="std-input password_field " autocomplete="off" placeholder="Your password" [(ngModel)]="password" (ngModelChange)="pwChange($event)">
        <label for="password" class="std-input__label">Password</label>
        <div class="std-input__help">{{ 'The password or username is incorrect' }}</div>
        <fa-icon [icon]="faEye" class="std-input__icon-toggle"></fa-icon>
        <!-- <fa-icon [icon]="faCircleExclamation" class="std-input__icon-error"></fa-icon> -->
    </div>
    <div *ngIf="currentStep == 2" class="std-input__w-label m-top_medium">
        <input type="password" id="repeat-password" class="std-input password_field " autocomplete="off" placeholder="Repeat your password" [(ngModel)]="passwordRepeat" (ngModelChange)="pwRepeatChange($event)">
        <label for="password" class="std-input__label">Verify password</label>
        <div class="std-input__help">{{ 'The password or username is incorrect' }}</div>
        <fa-icon [icon]="faEye" class="std-input__icon-toggle"></fa-icon>
        <!-- <fa-icon [icon]="faCircleExclamation" class="std-input__icon-error"></fa-icon> -->
    </div>
    <button class="std-btn__full-width m-top_large" (click)="nextStep()">{{ currentStep == 1 ? 'Next step' : 'Sign Up' }}</button>
    <div class="std-text m-top_x-medium center">Forgot your password?<span tabindex="0"  class="std-text__link m-left_xxx-small">Remind me</span></div>
    <div class="std-text m-top_small center">Already have an account?<span tabindex="0" class="std-text__link m-left_xxx-small" [routerLink]="['/auth/login']">Log In</span></div>
</div>
<div class="card__auxillary-login">
    <div class="login-element">
        <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
    </div>
    <div class="login-element">
        <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
    </div>
    <div class="login-element">
        <fa-icon class="icon" [icon]="faGoogle"></fa-icon>
    </div>
</div>