<div class="card-header">
    <h2>Sign Up</h2>
    <h3 class="m-top_small">Fill out the form below to sign up</h3>
</div>
<div class="form__login m-top_x-large">
    <system-input [type]="'text'" [id]="'username'" [addclass]="'m-top_medium'" [icon]="faCircleExclamation" [placeholder]="'Your login'" [label]="'Username'"></system-input>
    <system-input [type]="'text'" [id]="'email'" [addclass]="'m-top_medium'" [icon]="faCircleExclamation" [placeholder]="'Your email'" [label]="'Email'"></system-input>
    <system-input [type]="'password'" [id]="'password'" [eyeIcon]="true" [addclass]="'m-top_medium'" [icon]="faCircleExclamation" [placeholder]="'Your password'" [label]="'Password'"></system-input>
    <system-input [type]="'password'" [id]="'repeatpassword'" [eyeIcon]="true" [addclass]="'m-top_medium'" [icon]="faCircleExclamation" [placeholder]="'Confirm password'" [label]="'Repeat password'"></system-input>
    <div class="m-top_x-large">
        <system-button (click)="handleClick($event)" [loading]="isLoading" [text]="'Sign Up'"></system-button>
    </div>
    <div class="std-text m-top_x-medium center">Forgot your password?<span tabindex="0"  class="std-text__link m-left_xxx-small">Remind me</span></div>
    <div class="std-text m-top_small center">Already have an account?<span tabindex="0" class="std-text__link m-left_xxx-small" [routerLink]="['/auth/login']">Log In</span></div>
</div>
<div class="card__auxillary-login">
    <div class="login-element">
        <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
    </div>
    <div class="login-element">
        <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
    </div>
    <div class="login-element">
        <fa-icon class="icon" [icon]="faGoogle"></fa-icon>
    </div>
</div>