@use '../../base/var' as global;

.std-input {
    width: inherit;
    border-radius: .3rem;
    border-style: solid;
    border-width: 0.5px;
    height: 1.6rem;
    font-size: .5rem;
    padding: 0 .8rem;

    &__label {
        font-size: .4rem;
        position: absolute;
        top: -.15rem;
        left: .6rem;
        padding: 0 .2rem;
        background-color: white;
        font-weight: 500;
        color: global.$dark-background;
    }

    &__checkbox-label {
        color: global.$dark-background;
        font-size: .4rem;
        font-weight: 400;
    }

    &__icon {
        font-size: .45rem;
        display: none;
        color: global.$white-background;
    }

    &__checkbox {
        width: .5rem;
        height: .5rem;
        border-radius: 20%;
        vertical-align: middle;
        appearance: none;
        -webkit-appearance: none;
        border: 1px solid;
        border-color: global.$dark-background;
        
        &:checked {
            background-color: global.$action-blue;
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.01), 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            border: 0px;

            ~ .std-input__icon {
                position: absolute;
                display: block;
                translate: (50%, 50%);
                pointer-events: none;
            }
        }

        &:focus {
            box-shadow: 0 0 0 0.1rem rgba(55, 66, 250, 0.25);
        }
    }

    &__w-label {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    &:focus {
        outline: none;
        border-width: .5px;
        border-style: solid;
        border-color: global.$matted-blue;

        &::placeholder {
            color: global.$deep-grey;
        }
    }

    &::placeholder {
        transition: all .5s ease;
        color: global.$light-grey;
    }

    &:hover {
        &::placeholder {
            color: global.$deep-grey;
        }
    }
}

.form {
    &__login {
        position: relative;
        width: 100%;
    }
}