@use '../../base/var' as global;

.input-container {
    min-width: 8rem;
}

.field-container {
    &.row {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
}

.std-input {
    transition: box-shadow .3s ease;
    border-color: global.$light-grey;
    width: inherit;
    border-radius: .3rem;
    border-style: solid;
    border-width: 0.5px;
    height: 1.7rem;
    font-size: .5rem;
    padding: 0 .8rem;

    &:focus ~.std-input__label.component {
        transition: all .3s;
        transform: translateY(-.55rem);
        background-color: rgba($color: #000000, $alpha: 0);
        color: global.$action-blue;
    }

    &.login {
        border-color: global.$deep-grey;
    }

    &:disabled {
        transition: all .5s ease;
        background-color: global.$grey-background;
        border-color: global.$disabled-grey;
        color: global.$deep-grey;
    }

    &__label {
        transition: transform .5s ease;
        font-size: .4rem;
        position: absolute;
        top: -.15rem;
        left: .6rem;
        padding: 0 .2rem;
        background-color: white;
        font-weight: 500;
        color: global.$deep-grey;

        &.disabled {
            transition: transform .3s ease;
            transform: translateY(-.4rem);
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            color: global.$deep-grey;
        }
    }

    &__checkbox-label {
        border-color: global.$deep-grey;
        color: global.$dark-background;
        font-size: .4rem;
        font-weight: 400;

        &.disabled {
            color: global.$deep-grey;
        }
    }

    &__icon {
        font-size: .43rem;
        display: none;
        color: global.$white-background;
        top: .05rem;
        left: .05rem;
    }

    &__icon-toggle {
        transition: all .3s ease;
        position: absolute;
        right: .5rem;
        top: .6rem;
        font-size: .5rem;
        cursor: pointer;
        color: global.$light-grey;

        &:hover {
            color: global.$deep-grey;
        }
    }

    &__icon-has-error {
        transition: all 2s ease;
        position: absolute;
        right: .5rem;
        top: .6rem;
        font-size: .5rem;
        color: global.$error;
    }

    &__checkbox {
        width: .6rem;
        height: .6rem;
        border-radius: 20%;
        vertical-align: middle;
        appearance: none;
        -webkit-appearance: none;
        border: 1px solid;
        border-color: global.$deep-grey;

        &:disabled {
            background-color: global.$grey-background;
            border-color: global.$disabled-grey;
        }
        
        &:checked {
            background-color: global.$action-blue;
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.01), 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            border: 0px;

            &:disabled {
                background-color: global.$icon-grey;
                border-color: global.$disabled-grey;
            }

            ~ .std-input__icon {
                position: absolute;
                display: block;
                left: .09rem;
                pointer-events: none;
            }
        }

        &:focus {
            box-shadow: 0 0 0 0.1rem rgba(55, 66, 250, 0.25);
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__w-label {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    &__help {
        transition: all 2s ease;
        position: absolute;
        font-size: .4rem;
        top: 2rem;
        left: .6rem;
        font-weight: 400;
        visibility: hidden;

        &.has_error {
            transition: all 2s ease;
            visibility: visible;
            color: global.$error;
        }
    }

    &.has_error {
        border-color: global.$error;
        
        &:focus {
            box-shadow: 0 0 0 0.1rem rgba(255, 71, 87, .25);
        }
    }

    &:focus {
        outline: none;
        border-width: .5px;
        border-style: solid;
        box-shadow: 0 0 0 0.1rem rgba(55, 66, 250, 0.25);

        &:not(.has_error) {
            border-color: global.$matted-blue;
        }

        &::placeholder {
            color: global.$deep-grey;
        }
    }

    &::placeholder {
        transition: all .5s ease;
        color: global.$light-grey;
    }

    &:hover {
        &::placeholder {
            color: global.$deep-grey;
        }
    }

    &.password_field:not(:placeholder-shown) {
        letter-spacing: .125em;
        font: small-caption;
        
        @-moz-document url-prefix() {
            font-size: .4rem;
        }
    }
}

.form {
    &__login {
        position: relative;
        width: 100%;
    }
}