// this classes present the margins that can be used

.m {
    &-top {
        &_xxx-small {
            margin-top: .1rem;
        }
        &_xx-small {
            margin-top: .2rem;
        }
        &_x-small {
            margin-top: .3rem;
        }
        &_small {
            margin-top: .5rem;
        }
        &_regular {
            margin-top: .7rem;
        }
        &_medium {
            margin-top: 1rem;
        }
        &_x-medium {
            margin-top: 1.3rem;
        }
        &_large {
            margin-top: 1.6rem;
        }
        &_x-large {
            margin-top: 2rem;
        }
    }

    &-left {
        &_xxx-small {
            margin-left: .1rem;
        }
        &_xx-small {
            margin-left: .2rem;
        }
        &_x-small {
            margin-left: .3rem;
        }
        &_small {
            margin-left: .4rem;
        }
        &_medium {
            margin-left: .9rem;
        }
        &_large {
            margin-left: 1rem;
        }
        &_x-large {
            margin-left: 1.5rem;
        }
    }

    &-right {
        &_xxx-small {
            margin-right: .1rem;
        }
        &_xx-small {
            margin-right: .2rem;
        }
        &_x-small {
            margin-right: .3rem;
        }
        &_small {
            margin-right: .4rem;
        }
        &_medium {
            margin-right: .9rem;
        }
        &_large {
            margin-right: 1rem;
        }
        &_x-large {
            margin-right: 1.5rem;
        }
    }
}