// this classes present the margins that can be used

.m {
    &-top {
        &_small {
            margin-top: .6rem;
        }
        &_medium {
            margin-top: .9rem;
        }
        &_large {
            margin-top: 1rem;
        }
        &_x-large {
            margin-top: 1.5rem;
        }
    }
}