@use './var';
@use '../../base/var' as global;

@mixin card-base() {
    background-color: global.$white-background;
    box-shadow: global.$card-shadow;
    height: 100%;
    border-radius: .3rem;
    overflow: hidden;
}

.card-row {
    display: flex;
    gap: 1.4rem;
}

.card {
    transition: all .3s;
    @include card-base();
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
    border: 0.5px solid global.$grey-background;
    position: relative;
    display: flex;
    height: 100%;

    &:hover {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.02), 0px 8px 16px rgba(0, 0, 0, 0.08);
    }

    & .card-content {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: .7rem .7rem;
        flex-basis: 65%;
    }

    & .action-text {
        width: fit-content;
        color: global.$action-blue;
        font-size: .45rem;
        font-weight: 500;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    & .card-sidephoto {
        border-radius: .3rem 0 0 .3rem;
        flex-basis: 35%;
        align-self: stretch;
        background-size: cover;
        background-position: 20% 50%;
    }

    & .header {
        font-size: .5rem;
        font-weight: 500;
    }

    & .card-icon {
        transition: all .3s;
        font-size: .7rem;
        color: global.$disabled-grey;
        position: absolute;
        right: .7rem;
        top: .6rem;

        &:hover {
            cursor: pointer;
            color: global.$error;
        }
    }

    & .description {
        max-width: 85%;
        font-size: .45rem;
        font-weight: 400;
        color: global.$deep-grey;
        line-height: .8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__login {
        @include card-base();
        overflow: visible;
        width: 16rem;
        padding: 2.3rem 2.5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: fit-content;
        border-bottom-left-radius: .3rem;
        border-top-left-radius: .3rem;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &__auxillary-login {
        display: block;
        position: absolute;
        top: 0;
        right: -2.8rem;
        width: 2.8rem;
        height: 100%;
        background-color: global.$dark-background;
        border-bottom-right-radius: .3rem;
        border-top-right-radius: .3rem;
        box-shadow: global.$card-shadow;
        
        & .login-element {
            transition: all .3s ease;
            height: 2.7rem;
            color: global.$icon-grey;
            font-size: .7rem;
            position: relative;

            &:hover {
                cursor: pointer;
                background-color: rgba(87, 96, 111, 0.15);
                color: global.$white-background;

                &::after {
                    display: block;
                    content: "";
                    width: .2rem;
                    height: 100%;
                    background-color: global.$matted-blue;
                }
            }

            &:first-child {
                border-top-right-radius: .3rem;
            }

            & .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}