@use './var';
@use '../../base/var' as global;

@mixin card-base() {
    background-color: global.$white-background;
    box-shadow: global.$card-shadow;
    width: 16rem;
    height: fit-content;
    border-radius: .3rem;
}

.card {
    @include card-base();

    &__login {
        padding: 2.3rem 2.5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include card-base();
        border-bottom-left-radius: .3rem;
        border-top-left-radius: .3rem;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &__auxillary-login {
        position: absolute;
        top: 0;
        right: -2.7rem;
        width: 2.7rem;
        height: 100%;
        background-color: global.$dark-background;
        border-bottom-right-radius: .3rem;
        border-top-right-radius: .3rem;
        box-shadow: global.$card-shadow;
        
        & .login-element {
            transition: all .3s ease;
            height: 2.7rem;
            color: global.$icon-grey;
            font-size: .9rem;
            position: relative;

            &:hover {
                cursor: pointer;
                background-color: rgba(87, 96, 111, 0.15);
                color: global.$white-background;

                &::after {
                    display: block;
                    content: "";
                    width: .2rem;
                    height: 100%;
                    background-color: global.$matted-blue;
                }
            }

            &:first-child {
                border-top-right-radius: .3rem;
            }

            & .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}