@use './var';
@use '../../base/var' as global;

@mixin card-base() {
    background-color: global.$white-background;
    box-shadow: global.$card-shadow;
    width: 15rem;
    height: fit-content;
    border-radius: .3rem;
}

.card {
    @include card-base();

    &__login {
        padding: 2.3rem 2.5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include card-base();
    }


}