@use '../../base/var' as global;

.std-alert__outlet {
    position: absolute;
    display: flex;
    transform: translateX(-50%);
    left: 50%;
    top: 1rem;

    &.dashboard {
      flex-direction: column;
      top: auto;
      left: 0;
      bottom: 1rem;
    }
}

.std-alert__outlet.dashboard > alert-component {
  position: relative;
  transform: translateX(60%);
}

.std-alert {
    margin: .5rem;
    position: relative;
    display: block;
    min-width: 10rem;

    @keyframes alertOut {
        to {
          opacity: 0;
        }
      }

    @keyframes alertIn {
        from {
          transform: translateY(-1rem);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
    }

    &.alert-shake {
        animation-name: alertShake;
        animation-duration: 1s;
        animation-play-state: paused;
        animation-iteration-count: infinite;
    }

    @keyframes alertShake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-3px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(3px, 0, 0);
        }
    }

    &.alert__err {
        background-color: global.$error;
    }

    &.alert_success {
        background-color: global.$success;
    }
    
    width:max-content;
    border-radius: .4rem;
    padding: .8rem 1.3rem;
    padding-right: 2rem;
    color: global.$white-background;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 8%), 0px 2px 4px rgb(0 0 0 / 12%);

    & .alert__header {
        font-size: .6rem;
        font-weight: 500;
    }

    & .alert__desc {
        font-size: .5rem;
        font-weight: 400;
    }

    & .alert__icon {
        font-size: .5rem;
        position: absolute;
        top: .7rem;
        right: .7rem;
        cursor: pointer;
    }
}