<div class="std-dashboard__top">
    <div class="dashboard__search-menu">
        <div class="search-menu_input">
            <input placeholder="Search in modules">
        </div>
        <div class="std-btn__icon">
            <fa-icon [icon]="faSearch"></fa-icon>
        </div>
    </div>
    <div class="std-dashboard__top-menu-container">
        <div class="dashboard__fav-menu">
            <system-fav-item [icon]="faInfoCircle"></system-fav-item>
            <system-fav-item [icon]="faCalendarAlt"></system-fav-item>
            <system-fav-item [icon]="faUserCircle"></system-fav-item>
        </div>
        <div class="dashboard__right-menu">
            <system-button text="Messages" [outlined]="true" [auxIcon]="faMessage"></system-button>
            <system-button text="Settings" [outlined]="true" [auxIcon]="faCogs"></system-button>
            <system-button text="Logout" class="m-right_large" [outlined]="true" [auxIcon]="faDoorOpen"></system-button>
            <div class="std-line__vertical"></div>
            <div class="dashboard__avatar">
                Welcome,<span class="dashboard__username">Damian</span>
                <system-avatar></system-avatar>
            </div>
        </div>
    </div>
</div>