<div class="lds-wrapper">
    <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="lds-wrapper__text">
        Welcome to <span class="wrapper_action">RapidHCM</span>
        <div class="wrapper_subaction_desctiption">
            Loading {{ currentStep }}
        </div>
    </div>
</div>