@use '../../base/var' as global;

ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.std-stepper {
    font-weight: 500;
    & .icon {
        margin-right: .4rem;
    }
    cursor: pointer;
    list-style: none;
    counter-reset: std-counter;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    color: global.$light-grey;
    font-weight: 400;
  }
  .std-stepper li {
    position: relative;
    counter-increment: std-counter;
    display: flex;
    width: 50%;
    font-size: 0.5rem;

    // &::before {
    //     font-weight: 600;
    //     transition: all .2s ease;
    //     position: absolute;
    //     left: -1.2rem;
    //     top: -.15rem;
    //     content: counter(std-counter);
    //     font-size: .4rem;
    //     padding-top: .17rem;
    //     padding-left: .28rem;
    //     margin-right: .3rem;
    //     background-color: global.$light-grey;
    //     color: global.$white-background;
    //     border-radius: 50%;
    //     width: .8rem;
    //     height: .8rem;
    // }

    &:hover:not(.active) {
        color: global.$deep-grey;
        // &::before {
        //     transition: all .2s ease;
        //     position: absolute;
        //     left: -1.2rem;
        //     top: -.15rem;
        //     font-size: .4rem;
        //     padding-top: .17rem;
        //     padding-left: .28rem;
        //     margin-right: .3rem;
        //     background-color: global.$deep-grey;
        //     color: global.$white-background;
        //     border-radius: 50%;
        //     width: .8rem;
        //     height: .8rem;
        // }
    }
  }

  .std-stepper {
    & .active {
        color: global.$deep-grey;
        & .step-text {
            margin-top: .15rem;
        }
        & .icon {
            font-size: .4rem;
            background-color: global.$action-blue;
            color: global.$white-background;
            padding-left: .25rem;
            padding-right: .25rem;
            padding-top: .25rem;
            padding-bottom: .2rem;
            border-radius: 20%;
        }
        // &::before {
        //     position: absolute;
        //     left: -1.2rem;
        //     top: -.15rem;
        //     content: counter(std-counter);
        //     font-size: .4rem;
        //     padding-top: .17rem;
        //     padding-left: .28rem;
        //     margin-right: .3rem;
        //     background-color: global.$action-blue;
        //     color: global.$white-background;
        //     border-radius: 50%;
        //     width: .8rem;
        //     height: .8rem;
        //     box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.01), 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);    
        // }
     }
  }

  .std-stepper .checked {
    & .icon {
        display: revert;
        position: absolute;
        left: -1rem;
        top: .05rem;
        color: global.$white-background;
        font-size: .4rem;
    }
    &:hover {
        &::before {
            content: '';
        }
    }
    &::before {
        content: '';
    }
  }
  