@use '../../base/var' as global;

table {
    table-layout: auto;
    font-size: .5rem;
    border-radius: .3rem;
    border: .05rem solid global.$border-grey;
    border-spacing: 0;
    width: 100%;
    text-align: left;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08); 
}

thead {
    position: sticky;
    top: 0;
    border-top: solid 1px red;
}

th, td {
    border-bottom: .05rem solid global.$border-grey;
    padding: .75rem 1rem;
}

tr:nth-child(even) {
    background-color: global.$table-background;
}

tr {
    font-weight: 350;

    &:hover:not(.table-header) {
        background-color: global.$table-background-lhover;
    }

    &:hover:nth-child(even) {
        background-color: global.$table-background-hover
    }
}

th {
    color: global.$dark-background;
    background-color: global.$white-background;
    font-weight: 500;
    border-bottom: solid .1rem global.$matted-blue;

    &:first-of-type:hover {
        border-top-left-radius: .3rem;
    }

    &:last-of-type:hover {
        border-top-right-radius: .3rem;
    }

    &:hover {
        background-color: global.$table-background;
    }
}

th:last-child, td:last-child  {
    border-right: none;
    border-left: none;
}

tr:last-child td {
    border-bottom: none;
}

.table-container thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
}

.table-container {
    margin-top: 1.3rem;
    overflow: auto;
}