<ng-template down-to-bottom [ngIf]="configuration.isConfigured$ | async" [ngIfElse]="loader">
    <div class="main-dashboard__wrapper" down-to-bottom>
        <div class="accordion__wrapper">
            <system-accordion-container></system-accordion-container>
        </div>
        <div class="content_wrapper">
            <dashboard-top-menu-container></dashboard-top-menu-container>
            <system-dashboard-content></system-dashboard-content>
            <div class="std-news__container">
                <system-news-container></system-news-container>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #loader>
    <system-global-loader></system-global-loader>
</ng-template>