<ng-template down-to-bottom [ngIf]="configuration.isConfigured$ | async" [ngIfElse]="loader">
    <div class="main-dashboard__wrapper" down-to-bottom>
        <div class="accordion__wrapper">
            <system-accordion-container></system-accordion-container>
        </div>
        <div class="content_wrapper">
            <dashboard-top-menu-container></dashboard-top-menu-container>
            <system-dashboard-content></system-dashboard-content>
            <div class="std-news__container" down-to-bottom [marginDiff]="10.3">
                <system-news-container></system-news-container>
                <system-card [showReadMore]="true" [sidePicture]="'left'">
                    <div class="header">
                        Current Candidates
                    </div>
                    <div class="description">
                        Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
                    </div>
                </system-card>  
                <system-card [showReadMore]="true" [sidePicture]="'left'">
                    <div class="header">
                        Current Candidates
                    </div>
                    <div class="description">
                        Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
                    </div>
                </system-card>  
                <system-card [showReadMore]="true" [sidePicture]="'left'">
                    <div class="header">
                        Current Candidates
                    </div>
                    <div class="description">
                        Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
                    </div>
                </system-card>  
                <system-card [showReadMore]="true" [sidePicture]="'left'">
                    <div class="header">
                        Current Candidates
                    </div>
                    <div class="description">
                        Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
                    </div>
                </system-card>  
                <system-card [showReadMore]="true" [sidePicture]="'left'">
                    <div class="header">
                        Current Candidates
                    </div>
                    <div class="description">
                        Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
                    </div>
                </system-card>  
                <system-card [showReadMore]="true" [sidePicture]="'left'">
                    <div class="header">
                        Current Candidates
                    </div>
                    <div class="description">
                        Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
                    </div>
                </system-card>  
                <system-card [showReadMore]="true" [sidePicture]="'left'">
                    <div class="header">
                        Current Candidates
                    </div>
                    <div class="description">
                        Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
                    </div>
                </system-card>  
                <system-card [showReadMore]="true" [sidePicture]="'left'">
                    <div class="header">
                        Current Candidates
                    </div>
                    <div class="description">
                        Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
                    </div>
                </system-card>  
            </div>
        </div>
    </div>
</ng-template>
<ng-template #loader>
    <system-global-loader></system-global-loader>
</ng-template>