<ng-template down-to-bottom [ngIf]="configuration.isConfigured$ | async" [ngIfElse]="loader">
    <div class="main-dashboard__wrapper" down-to-bottom>
        <system-accordion-container></system-accordion-container>
        <div class="content_wrapper">
            <dashboard-top-menu-container></dashboard-top-menu-container>
            <system-dashboard-content></system-dashboard-content>
            <div class="std-news_bottom" down-to-bottom [marginDiff]="10.3">
                <div class="std-news__container">
                    <system-grid-container [gridColumnValue]="3" [gridRowValue]="4">
                        <time-tracker-container></time-tracker-container>
                    </system-grid-container>
                    <system-grid-container [gridColumnValue]="3" [gridRowValue]="2">
                        <system-card [showReadMore]="true" [sidePicture]="'left'">
                            <div class="header">
                                Candidates
                            </div>
                            <div class="description">
                                Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
                            </div>
                        </system-card>
                    </system-grid-container>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #loader>
    <system-global-loader></system-global-loader>
</ng-template>