<div class="std-news__container">
    <system-grid-container [gridColumnValue]="3" [gridRowValue]="4">
        <time-tracker-container></time-tracker-container>
    </system-grid-container>
    <system-grid-container [gridColumnValue]="3" [gridRowValue]="2">
        <system-card [showReadMore]="true" [sidePicture]="'left'">
            <div class="header">
                Candidates
            </div>
            <div class="description">
                Show current candidature, explore the candidates. Find out accept and contact them as well as schedule meetings
            </div>
        </system-card>
    </system-grid-container>
</div>